.homeBackground {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../assets/mars_with_saturn.jpg");
  background-size: cover;
}

@media (max-width: 768px) {
  .homeBackground {
    background-image: url("../assets/mars_width_saturn_small.jpg");
  }
}
