:root {
    --clr-accent: #d06d6d;
    --clr-accent-dark: #613131;
    --bg-dark: rgba(0, 0, 0, 0.8);
}

html,
body,
#root,
.App,
.App > div {
    height: 100%;
}

body {
    font-family: 'Open Sans', 'sans-serif';
}
